{% extends 'SnappmindsUtilsABMBundle:ABM:common.html.twig' %}

{% block SnappmindsUtilsABMBundle_ABM_title %}
{{ title }}
{% endblock %}

{% block SnappmindsUtilsABMBundle_ABM_body %}

    {% if filterForm is defined %}

        {% include 'SnappmindsUtilsABMBundle:ABM:filterForm.html.twig' with {'filterForm': filterForm} %}

    {% endif %}

    <div class='gridSection'>

    {{ block('flash_messages') }}         
            
    {% if insertRouteName is defined %}
        {{ viewstate_link( 'Nuevo' ,  path(insertRouteName, insertRouteParams|merge(defaultRouteParams) ), 'snappminds_abm_insert_button' ) }}
    {% endif %}
    
    {{ grid_widget(grid) }}

    </div>       
{% endblock %}
