.breadcrumb-hierarchy-separator{
    float: left;
}

.breadcrumb-current-item{
    margin-left: 5px;
    float: left;
}

.snappminds_utils_breadcrumb_breadcrumb{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}