<ul class="snappminds_utils_form_type_predicttext_choicelist">
    {% for value in data %}        
    <li class="snappminds_utils_form_type_predicttext_choice" choice="{{ value }}">
        {{ value }}
    </li>
    {% endfor %}
</ul>
